# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# local ML artifacts
model.pkl
columns.pkl
mlruns/

# git
.git/

# logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Tests cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
