stages:
  - test
  - build
  - deploy

variables:
  DOCKER_REGISTRY: docker.arvancloud.ir
  PIP_INDEX_URL: https://pypi.devneeds.ir/simple/
  PIP_TRUSTED_HOST: pypi.devneeds.ir
  CI_PIP_INDEX: https://pypi.devneeds.ir/simple/
  CI_PIP_TRUSTED: pypi.devneeds.ir
  APT_MIRROR: http://linux-mirror.liara.ir/repository/debian
  APT_MIRROR_SECURITY: http://linux-mirror.liara.ir/repository/debian-security
  TESTING: "true"
  RATE_LIMIT_ENABLED: "false"
  PROMETHEUS_MULTIPROC_DIR: /tmp/prometheus-test

test:
  stage: test
  image: ${DOCKER_REGISTRY}/python:3.11.9-slim
  timeout: 45m
  cache:
    key: pip-py311-devneeds
    paths:
      - .cache/pip
  before_script:
    - mkdir -p "$PROMETHEUS_MULTIPROC_DIR" .cache/pip
    - chmod +x scripts/ci_install_deps.sh
    - scripts/ci_install_deps.sh
  script:
    - python -m pytest tests/ -v -m "not integration" --tb=short

build:
  stage: build
  image: ${DOCKER_REGISTRY}/docker:24
  services:
    - docker:24-dind
  script:
    - docker build
        --build-arg DOCKER_REGISTRY=${DOCKER_REGISTRY}
        --build-arg PIP_INDEX_URL=${PIP_INDEX_URL}
        --build-arg PIP_TRUSTED_HOST=${PIP_TRUSTED_HOST}
        --build-arg APT_MIRROR=${APT_MIRROR}
        --build-arg APT_MIRROR_SECURITY=${APT_MIRROR_SECURITY}
        -t mlops-platform-base:latest .

deploy:
  stage: deploy
  image: ${DOCKER_REGISTRY}/bitnami/kubectl:latest
  script:
    - kubectl apply -f infra/k8s/
  only:
    - main
