# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# ML artifacts
model.pkl
columns.pkl
mlruns/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Tests cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/*

# Env
.env

# Temp Doc File
code-doc.txt

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
