stages:
  - test
  - build
  - deploy

variables:
  DOCKER_REGISTRY: docker.arvancloud.ir
  PIP_INDEX_URL: https://package-mirror.liara.ir/repository/pypi/simple
  PIP_TRUSTED_HOST: package-mirror.liara.ir
  APT_MIRROR: http://linux-mirror.liara.ir/repository/debian
  APT_MIRROR_SECURITY: http://linux-mirror.liara.ir/repository/debian-security
  TESTING: "true"
  RATE_LIMIT_ENABLED: "false"
  PROMETHEUS_MULTIPROC_DIR: /tmp/prometheus-test
  MLFLOW_TRACKING_URI: http://localhost:5000
  REDIS_URL: redis://localhost:6379/0
  POSTGRES_HOST: localhost
  API_KEY_ADMIN: admin-secret-key-change-in-production
  API_KEY_USER: user-secret-key-change-in-production
  API_KEY_READONLY: readonly-secret-key-change-in-production

test:
  stage: test
  image: python:3.11.9-slim
  variables:
    PIP_INDEX_URL: https://package-mirror.liara.ir/repository/pypi/simple
    PIP_TRUSTED_HOST: package-mirror.liara.ir
  before_script:
    - mkdir -p "$PROMETHEUS_MULTIPROC_DIR"
    - python -m pip install --upgrade pip --trusted-host "$PIP_TRUSTED_HOST" -i "$PIP_INDEX_URL"
    - python -m pip install --trusted-host "$PIP_TRUSTED_HOST" -i "$PIP_INDEX_URL" -r requirements.txt
  script:
    - python -m pytest tests/ -v -m "not integration" --tb=short

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build
        --build-arg DOCKER_REGISTRY=${DOCKER_REGISTRY}
        --build-arg PIP_INDEX_URL=${PIP_INDEX_URL}
        --build-arg PIP_TRUSTED_HOST=${PIP_TRUSTED_HOST}
        --build-arg APT_MIRROR=${APT_MIRROR}
        --build-arg APT_MIRROR_SECURITY=${APT_MIRROR_SECURITY}
        -t mlops-platform-base:latest .

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f infra/k8s/
  only:
    - main
