fastapi
uvicorn
pandas
numpy
scikit-learn==1.3.2
joblib
mlflow==2.9.2
optuna==3.5.0
redis
celery
prometheus-client
python-json-logger==2.0.7
boto3
psycopg2-binary==2.9.12
psutil
python-multipart
evidently==0.4.20
pytest
pytest-cov
pytest-mock
pytest-asyncio